:root {
    --main-color: #111111;
    --secondary-color: #1B1B1B;
    --accent-color: #3a3a3a;
    --text-color: #dadada;

    --default-size: 1em;
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--default-size);
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title*/
.title {
    display: flex;
    width: 50%;
}

.title-input {
    flex: 1;
    border-radius: 16px;
    border: 2px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 16px 32px;
}


/* Ingredients */

.ingredient-input {
    flex: 1;
    margin: 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top: 2px solid var(--secondary-color);
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    border-right: none;
    padding: 16px 32px;
}

.ingredient {
    display: flex;
    width: 50%;
}


.ingredient-button {
    border: 2px solid var(--secondary-color);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 8px 16px;
    cursor: pointer;
}


.ingredients-container {
    display: flex;
    padding: 10% 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid var(--accent-color);
    border-radius: 16px;
    flex: 1;
    flex-flow: row wrap;
}

.ingredients-item {
    border: 2px solid var(--secondary-color);
    background-color: var(--accent-color);
    border-radius: 16px;
    display: inline;
    padding: 8px;
    margin: 4px;
    cursor: pointer;
}



/* Instructions */

.instructions-container {
    display: flex;
    padding: 10% 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid var(--accent-color);
    border-radius: 16px;
    flex: 1;
    flex-flow: column wrap;
}

.instruction-input {
    display: flex;
    flex: 1;
    margin: 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top: 2px solid var(--secondary-color);
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    border-right: none;
    padding: 16px 32px;
}

.instruction {
    display: flex;
    width: 50%;
}


.instruction-button {
    border: 2px solid var(--secondary-color);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 8px 16px;
    cursor: pointer;
}

.instructions-item {
    flex: 1;
    border: 2px solid var(--secondary-color);
    background-color: var(--accent-color);
    border-radius: 16px;
    display: block;
    padding: 8px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}


/*Submissions*/

.submission {
    display: flex;
    width: 50%;

}

.submission-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.reset-button {
    border: 2px solid var(--accent-color);
    border-radius: 16px;
    padding: 16px 32px;
    cursor: pointer;
    margin: 5px;
    font-size: 1rem;
}

.save-button {
    border: 2px solid var(--accent-color);
    border-radius: 16px;
    padding: 16px 32px;
    cursor: pointer;
    margin: 5px;
    font-size: 1rem;
}

/*misc*/

.center {
    flex: 1;
    display: flex;
    justify-content: center;
}

#error-message {
    position: fixed;
    padding: 5%;
    background-color: rgb(150, 0, 0);
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transform: translateY(200px);
}

#error-message[data-open="true"] {
    transform: translateY(0px);
}